<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.edu.mapper.GoodsMapper">

<select id="getAllGoodsInfo" resultType="GoodsVO">
    select * from t_goods
</select>

<select id="getGoodsById" resultType="GoodsVO">
    select * from t_goods where goodsNum = #{goodsNum}
</select>

<select id="getGoodsByName" resultType="GoodsVO">
    select * from t_goods where goodsName = #{goodsName}
</select>

<insert id="addGood" parameterType="GoodsVO">
    insert into t_goods (goodsName, goodsType, goodsPrice, goodsCost) values(#{goodsName}, #{goodsType}, #{goodsPrice}, #{goodsCost})
</insert>

<delete id="deleteGoodById" parameterType="int">
    delete from t_goods where goodsNum = #{goodsNum}
</delete>

<update id="updateGood" parameterType="GoodsVO">
    update t_goods set goodsName = #{goodsName}, goodsType = #{goodsType}, goodsPrice = #{goodsPrice}, goodsCost = #{goodsCost}
    where id = #{goodsNum}
</update>

</mapper>



