<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.edu.mapper.ProvideMapper">
<!--
    表名：provide
    private Integer id;
    private Integer sup_supplierNum;
    private Integer goo_goodsNum;
    private String supplierDate;
    private Integer supplierSum;
-->
    <select id="getAllProvidesInfo" resultType="ProvideVO">
        select * from provide
    </select>

    <select id="getProvideInfoById" resultType="ProvideVO">
        select * from provide where id = #{id}
    </select>

    <insert id="addProvide" parameterType="ProvideVO">
        insert into provide (sup_supplierNum, goo_goodsNum, supplierDate, supplierSum) values(#{sup_supplierNum}, #{goo_goodsNum}, #{supplierDate}, #{supplierSum})
    </insert>

    <delete id="deleteProvideById" parameterType="int">
        delete from provide where id = #{id}
    </delete>

    <update id="updateProvide" parameterType="ProvideVO">
        update provide set sup_supplierNum = #{sup_supplierNum}, goo_goodsNum = #{goo_goodsNum}, supplierDate = #{supplierDate}, supplierSum = #{supplierSum}
        where id = #{id}
    </update>

</mapper>