<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.edu.mapper.SupplierMapper">
<!--
    表名：supplier
    属性名               类型
    supplierNum          int ,
    supplierName         varchar(20),
    supplierAddress      varchar(100),
    supplierPhone        varchar(11),
    */
-->
    <select id="getAllSuppliersInfo" resultType="SupplierVO">
        select * from supplier
    </select>

    <select id="getSupplierInfoById" resultType="SupplierVO">
        select * from supplier where supplierNum = #{supplierNum}
    </select>

    <select id="getSupplierInfoByName" resultType="SupplierVO">
        select * from supplier where supplierName = #{supplierName}
    </select>

    <insert id="addSupplier" parameterType="SupplierVO">
        insert into supplier (supplierName, supplierAddress, supplierPhone) values(#{supplierName}, #{supplierAddress}, #{supplierPhone})
    </insert>

    <delete id="deleteSupplierById" parameterType="int">
        delete from supplier where supplierNum = #{supplierNum}
    </delete>

    <update id="updateSupplier" parameterType="SupplierVO">
        update supplier set supplierName = #{supplierName}, supplierAddress = #{supplierAddress}, supplierPhone = #{supplierPhone}
        where supplierNum = #{supplierNum}
    </update>

</mapper>