<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.edu.mapper.UserMapper">
<!--
    表名：user
    属性名         类型
    username       varchar(20) not null,
    password       varchar(20) not null,
    office         int
    */
-->
    <select id="login" resultType="UserVO">
        select * from user where username=#{userName}
    </select>

    <select id="getUserInfoById" resultType="UserVO">
        select * from user where username=#{userName}
    </select>

    <insert id="register" parameterType="UserVO">
        insert into user values(#{userName},#{password},#{office})
    </insert>

    <delete id="deleteUserById" parameterType="String">
        delete from user where username=#{userName}
    </delete>

    <update id="updateUser" parameterType="UserVO">
        update user set password=#{password},office=#{office} where username=#{userName}
    </update>

</mapper>