<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.edu.mapper.WorkerMapper">

<select id="getAllWorkersInfo" resultType="WorkerVO">
    select * from worker
</select>

<select id="getWorkerInfoById" resultType="WorkerVO">
    select * from worker where workerNum = #{workerNum}
</select>

<insert id="addWorker" parameterType="WorkerVO">
    insert into worker(workerNum, name, age, sex, phoneNum, workTime, office, salary)
    values (#{workerNum}, #{name}, #{age}, #{sex}, #{phoneNum}, #{workTime}, #{office}, #{salary})
</insert>

<delete id="deleteWorkerById" parameterType="int">
    delete from worker where workerNum = #{workerNum}
</delete>

<update id="updateWorker" parameterType="WorkerVO">
    update worker set name = #{name}, age = #{age}, sex = #{sex}, phoneNum = #{phoneNum}, workTime = #{workTime}, office = #{office}, salary = #{salary}
    where workerNum = #{workerNum}
</update>


</mapper>



